apiVersion: apps/v1
kind: Deployment
metadata:
  name: broker-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: broker
  template:
    metadata:
      labels:
        app: broker
    spec:
      containers:
        - name: kubernetes-broker
          image: docker.io/juanfelipe1104/broker:latest
          ports:
            - containerPort: 32002
